[alias]
	# git migrate <new-branch-name> <target-branch> <commit-range>
	migrate = "!f(){ CURRENT=$(git symbolic-ref --short HEAD); git checkout -b $1 && git branch --force $CURRENT ${3-$CURRENT@{u}} && git rebase --onto ${2-master} $CURRENT; }; f"

	# OPENING GITHUB.COM FROM THE TERMINAL	
	browse = '!open `git config remote.origin.url`'
	
